{% extends "diary_app/template.html" %}

{% block head_title %} New Diary {% endblock %}

{% block nav_3 %}
<li class="nav-item active">
    <a class="nav-link" href="/diary/new_diary">New Diary Entry <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}

<form action="/diary/new_diary/" class="form-container" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" name="title" class="form-item" size="40" placeholder="Title" />
  <textarea type="text" name="content" class="form-item" rows="20" cols="60" placeholder="Content"></textarea>
  <button type="submit" class="form-item btn btn-success">Publish</button>

</form>

{% endblock %}
        
    